@media print { 
    h1 {
        font-size:20px;
    }

    .chosen-container-single .chosen-single {
        height: 30px;
        border-radius: 3px;
        border: 1px solid #CCCCCC;
    }
    .chosen-container-single .chosen-single span {
        padding-top: 2px;
    }
    .chosen-container-single .chosen-single div b {
        margin-top: 2px;
    }

    .chosen-container-active .chosen-single,
    .chosen-container-active.chosen-with-drop .chosen-single {
        border-color: #ccc;
        border-color: rgba(82, 168, 236, .8);
        outline: 0;
        outline: thin dotted \9;
        -moz-box-shadow: 0 0 8px rgba(82, 168, 236, .6);
        box-shadow: 0 0 8px rgba(82, 168, 236, .6)
    }

    .subheader {
        background-color:#000;
        border : 2px solid #000;
        color:#fff;
        font-weight:bold;
        font-size:24px;
        margin-bottom: 10px; 
    }

    .tender {
        border : 2px solid #000;
    }

    body{
        font-family: Arial, Helvetica, sans-serif;
        margin: 0;
        font-size: 10pt;
    }

    .download_button{
        width: 100%;
        padding: 20px;
        text-align: center;
        background: #efefef;
        margin-bottom: 50px;
    }

    .download_button > a.btn{
        background: #00baff;
        padding: 10px 12px;
        color: #000;
        text-decoration: none;
    }

    a.btn.back{
        background: #aaa;
    }

    a.btn:hover{
        color: #fff;
    }

    .content{
        width: 700px;
        margin: 0 auto;
    }

    h1{
        /*text-align: center;*/
        /*border-bottom: 1px #444 solid;*/
        /*padding: 20px;*/
        color: #19457f;
        /*background: #efefef;*/
        page-break-before: always;
    }

    .head1{color: #19457f;}

    h2{
        font-style: italic;
        color: #4783c5;
    }

    .catheader{
        font-style: italic;
        font-weight: bold;
        color: #4783c5;
        text-align: center;
        font-size: x-large;
        margin-top: 20px;
    }

    .ratingscale{
        text-align: center;
        font-size: x-small;
        font-weight: bold;
    }

    table{
        width: 100%;
        /*padding: 10px;*/
        border-collapse: collapse;
    }

    .cover{
        font-size: 1.7em;
    }

    td{
        border: 1px solid black;
        /*border: 0.1mm solid black;*/
        /*background: #ccc;*/
        padding: 5px;
        font-size: 0.8em;
    }

    .half{
        width: 45%;
        /*background: #f005aa;*/
        margin: 0px;
    }

    .full{
        float:left;
        width: 100%;
    }

    .left{
        float: left;
    }

    .right{
        float: right;
        margin-left: 10%;
    }

    .highlight{
        background: yellow;
    }

    ol {
        list-style-type: disc;
        text-align:justify;
    }

    li {
        padding-left: 20px;
        list-style-position: inside;
        text-indent: -1em;
        list-style-type: disc;
        text-align:justify;
    }

    td.threecols{
        background: #19457f;
        border: 1px solid black;
        /*border: 0.1mm solid black;*/
        color: white;
        font-weight: bold;
        text-align: center;
    }   

    td.colored{
        background: #19457f;
        border: 1px solid black;
        /*border: 0.1mm solid black;*/
        color: white;
        font-weight: bold;
        text-align: center;
        width:90px;
    }

    td.colored_second{
        background: #b0caed;
        border: 1px solid black;
        /*border: 0.1mm solid black;*/
        color: black;
        font-weight: bold;
    }

    tr.first td{
        background: navy;
    }

    .graph{
        text-align: center;
        font-style: italic;
        margin-bottom: 50px;
    }

    ul.toc{
        font-size: 1.7em;
    }

    .toc li{ 
        list-style: none;
    }

    .toc li li {
        font-style: italic;
    }

    ul.toc ul{
        margin-bottom: 5mm;
    }

    p{
        text-align:justify;
    }

}